/* Error Page */
@font-face
{font-family:"LinkedIn-Glyphs";src:url('https://www.linkedin.com/scds/common/u//fonts/LinkedInGlyphs/2.0.1/LinkedIn-Glyphs-16px.eot');src:url('https://www.linkedin.com/scds/common/u//fonts/LinkedInGlyphs/2.0.1/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'),url('https://www.linkedin.com/scds/common/u//fonts/LinkedInGlyphs/2.0.1/LinkedIn-Glyphs-16px.woff') format('woff'), url('https://www.linkedin.com/scds/common/u//fonts/LinkedInGlyphs/2.0.1/LinkedIn-Glyphs-16px.ttf') format('truetype');font-weight:normal;font-style:normal}

#ERR_1 {
    clear: both;
    color: rgb(51, 51, 51);
    height: 40px;
    position: relative;
    width: 974px;
    perspective-origin: 487px 20px;
    transform-origin: 487px 20px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/17px Arial, sans-serif;
    margin: 0px 187.5px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#ERR_1:after {
    clear: both;
    color: rgb(51, 51, 51);
    visibility: hidden;
    width: 974px;
    perspective-origin: 487px 0px;
    transform-origin: 487px 0px;
    content: ' ';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/17px Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_1:after*/

#ERR_2 {
    box-shadow: rgb(193, 82, 82) 0px 0px 0px 1px, rgba(0, 0, 0, 0.45098) 0px 1px 2px 0px;
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 904px;
    perspective-origin: 487px 20px;
    transform-origin: 487px 20px;
    background-image: linear-gradient(to top, rgb(221, 89, 89), rgb(193, 82, 82));
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/20px Arial, sans-serif;
    margin: 1px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 10px 20px 10px 50px;
}/*#DIV_2*/

#ERR_2:before {
    color: rgb(255, 255, 255);
    height: 26px;
    left: 12px;
    position: absolute;
    speak: none;
    top: 7px;
    width: 26px;
    align-self: stretch;
    perspective-origin: 13px 13px;
    transform-origin: 13px 13px;
    content: '';
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 26px/26px 'LinkedIn-Glyphs-2.0.2', LinkedIn-Glyphs;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:before*/

#ERR_P_3 {
    color: rgb(255, 255, 255);
    height: 20px;
    width: 904px;
    perspective-origin: 452px 10px;
    transform-origin: 452px 10px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/20px Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_3*/

#STRONG_4 {
    color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/20px Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#STRONG_4*/